<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <file>./routes.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="GCSE_API_KEY" value="testing" force="true" />
        <env name="GCSE_SEARCH_ENGINE_ID" value="testing" force="true" />
    </php>

</phpunit>