<h2>Search Keywords Count</h2>
<div>
	<form action="/index.php" method="post">
		<p>Key Words: <input type="text" name="keywords" value="{{keywords}}"></p>
		<p>Website: <input type="text" name="website" value="{{website}}"></p>

		<input type="submit">
	</form>
</div>
<br/>
