
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Google Search</title>

    <style type="text/css">
         body {
          padding-top: 50px;
        }
        h2 {
          text-align: center
        }

        div {
          width: 60%;
          margin: auto; 
          border: 1px solid #ccc; 
          padding: 5px;
          text-align: center;
          font-weight: bold; 
        }


    </style>

</head>
<body>

